.col1{
    background-color: aqua;
}
.col2{
    background-color: burlywood;
}

.texto{
    text-align: right;
}

.button{
  margin-right: 6px;
}

.buttont{
  align-items: flex-end;

}
.general{
    margin: 6px;
}